.library {
  border-bottom: 1px solid var(--border);
}

.library__list {
  padding-left: 0;
}

.library__item {
  font-size: 14px;
  transition: opacity 0.3s ease;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active,
  &:focus {
    text-decoration: underline;
    text-decoration-color: var(--primary);
    outline: none;
  }
}