:root {
  --background: rgb(2, 11, 12);
  --off-background: #4a4a4a;
  --color: #efefef;
  --faded: rgb(7, 60, 81);
  --border: rgb(4, 34, 45);
  --shadow: rgba(0,0,0,0.2);

  --success: #0e7c40;
  --success-darker: #0b562d;

  --primary-lighter: #FBBF24;
  --primary: #D97706;
  --primary-darker: #B45309;

  --danger: #E11D48;
  --danger-darker: #BE123C;

  --font: serif;

  --space-xs: 0.25rem;
  --space-sm: 0.65rem;
  --space-md: 1rem;
  --space-lg: 2.5rem;
}