:root {
  --background: #333;
  --off-background: #4a4a4a;
  --color: #efefef;
  --border: #444;
  --shadow: rgba(0,0,0,0.2);

  --success: #4D7C0F;
  --success-darker: #3F6212;

  --primary: #D97706;
  --primary-darker: #B45309;

  --danger: #E11D48;
  --danger-darker: #BE123C;

  --font: serif;

  --space-xs: 0.25rem;
  --space-sm: 0.65rem;
  --space-md: 1rem;
  --space-lg: 2.5rem;
}